{# templates/lumenix/partials/_risk_charts_grid.html #}

<div class="row mt-3">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h4>Toxin concentration vs time</h4>
                <div id="toxinsChart" style="height: 360px;"></div>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h4>Pathogen concentration vs time</h4>
                <div id="pathogenConcChart" style="height: 360px;"></div>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h4>Probability of illness vs time</h4>
                <div id="probChart" style="height: 360px;"></div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h4>Cases per 100k vs time</h4>
                <div id="casesChart" style="height: 360px;"></div>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h4>Seasonal heatmap (× baseline)</h4>
                <div id="seasonalHeatmap" style="height: 360px;"></div>
            </div>
        </div>
    </div>
</div>
