/* static/css/custom_css.css */

.card {
    background: white;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.cursor-pointer { cursor: pointer; }

/* unify focus style so the addon doesn't show a blue outline */
.input-group-text:focus { outline: 0; box-shadow: none; }


/* Left align + compact for the click popover */
.popover.tt-left .popover-body {
    text-align: left;
    max-width: 30rem;
    white-space: normal;
    line-height: 1.25;
    font-size: 0.85rem;
}

.popover.tt-left .popover-body code,
.tooltip.tt-left .tooltip-inner code {
     color: inherit;
}
.tooltip.tt-left .tooltip-inner {
    text-align: left;
    max-width: 30rem;
    white-space: normal;
    line-height: 1.25;
    font-size: 0.85rem;
}
.tooltip.tt-left .tooltip-inner code {
    font-size: 0.85em;
    color: #f8f9fa;
}
.tooltip.tt-left .tooltip-inner ul { margin-bottom: 0.25rem; }
.tooltip.tt-left .tooltip-inner ul ul { margin-top: 0.25rem; }