{% load static %}

{% block left_sidebar %}
<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">
    <div data-simplebar class="h-100">
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <ul class="metismenu list-unstyled" id="side-menu">
                <li>
                    <a href="https://interactive-atlas.ipcc.ch/regional-information#eyJ0eXBlIjoiQVRMQVMiLCJjb21tb25zIjp7ImxhdCI6MTgzNjc5LCJsbmciOjE1OTAyMTIsInpvb20iOjQsInByb2oiOiJFUFNHOjU0MDMwIiwibW9kZSI6ImNvbXBsZXRlX2F0bGFzIn0sInByaW1hcnkiOnsic2NlbmFyaW8iOiJzc3A1ODUiLCJwZXJpb2QiOiIyIiwic2Vhc29uIjoieWVhciIsImRhdGFzZXQiOiJDTUlQNiIsInZhcmlhYmxlIjoidGFzIiwidmFsdWVUeXBlIjoiQU5PTUFMWSIsImhhdGNoaW5nIjoiU0lNUExFIiwicmVnaW9uU2V0IjoiYXI2IiwiYmFzZWxpbmUiOiJwcmVJbmR1c3RyaWFsIiwicmVnaW9uc1NlbGVjdGVkIjpbMTddfSwicGxvdCI6eyJhY3RpdmVUYWIiOiJwbHVtZSIsInNob3dpbmciOnRydWUsIm1hc2siOiJub25lIiwic2NhdHRlcllNYWciOiJBTk9NQUxZIiwic2NhdHRlcllWYXIiOiJ0YXMifX0=" target="_blank">
                        <i data-feather="grid"></i>
                        <span data-key="ipcc-dashboard">IPCC Dashboard</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- End Sidemenu -->
    </div>
</div>
<!-- Left Sidebar End -->
{% endblock left_sidebar %}

